
body, html { position: relative;overflow-x: hidden; margin:0; padding:0;}

#links ul{list-style-type: none; display: inline; overflow: hidden; position: relative;}
#links li{float: right; padding-right: 20px; padding-top: 20px;}
#links a{ color: black; text-decoration: none; text-transform: uppercase; font-weight: bold;font-family: Arial, sans-serif;}

#links .red a{color: red;}

.nav {
    overflow: hidden;
    background-color: #4396e3;
    margin-top: -55px;
}

.nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;

}

.nav a:hover {
    background-color: #63a7e7;
    color: white;
}

.active {
    background-color: #63a7e7;
    color: white;
}

.nav .icon {
    display: none;
}

.nav a:first-child{
    padding-left: 100px;}



    #logo {height: 100px; top: 10px; position: relative;z-index: 10000;
        vertical-align: middle; left: 10px;}




    .headerImage {
        width: 100%;
        position: relative;
        float: left;
        margin-top: -2%;
    }

    .headerDiv {
        width: 300px;
        height: 340px;
        position: relative;
        left: 70%;
        top: -380px;
        font-family: Arial, sans-serif;
        float: none;
    }

    #phone {
        font-weight:bold;
        color: #4396E3;
        font-size: 2em;
        font-family: Arial, sans-serif;
        position: relative;
        top: -30px;
    }

    .headerButtons{
        width: 230px;
        height: 50px;
        border: none;
        font-weight: bold;
        text-align; center;
        font-size: 17px;
        display: block;
        border-radius: 10px;
        color: white;
        margin-top: -30px;
        margin-bottom: 50px;
    }

    #donateButton {
        background-color: rgba(235, 87, 87, 0.8);
        text-decoration: none;
    }

    #reserveButton {
        background-color: #4396E3;
        text-decoration: none;
    }

    .headerButtons a{
        text-decoration: none;
        color: white;
    }

    #bodyImage {
        width: 100%;
        position: relative;
        top: -380px;
        height: 590px;
        border:1px solid green;
    }

    #body {
        background-image: url("images/body.jpg");
        height: 600px;
        margin-top: 80px;
    }
    #TEST{background: linear-gradient(0deg, rgba(29, 111, 187, 0.63) , rgba(255, 255, 255, 0.08) );
        width: 100%;
        height: 900px;
        z-index: 100; }

    #body #bodyHeading {
        color: #6B6868;
        font-size: 50px;
        font-family: Arial, sans-serif;
        padding-left: 170px;
        padding-top: 50px;
    }

    #body .text{
        color: #333333;
        font-size: 15px;
        font-family: Arial, sans-serif;
        padding-left: 200px;
        width: 960px;
        text-align: justify;
    }

    #schedule {
        background-image: url("images/schedule.v1.png");
        height: 500px;
        margin: 0;
        left: 0;
        right: 0;
        border-top: 7px solid #054C8D;
    }

    #schedule #scheduleHeading{
        color: white;
        font-size: 55px;

        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 170px;
    }

    #schedule img{
        height: 170px;
        width: 170px;
        padding-left: 240px;
    }

    #schedule #scheduleText{
        color: white;
        font-size: 17px;
        width: 725px;
        height: 175px;
        position: relative;
        left: 500px;
        top: -180px;
        font-family: Arial, sans-serif;
    }

    #joinus {
        background-color: #fff;
        /*
        background-image: url("images/joinUs.png");
         */
        height: 809px;
        border-top: 7px solid rgba(29, 111, 187, 0.63);
    }

    #joinus #joinusHeading{
        color: #4486C3;
        font-size: 55px;
        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 170px;}

    #joinus #joinusText{
        font-weight: bold;
        font-size: 20px;
        width: 500px;
        height: 300px;
        font-family: Arial, sans-serif;
        padding-left: 240px;
    }

    #joinus .joinusButtons{
        background-color: #4486C3;
        text-decoration: none;
        text-transform: uppercase;
        color: white;

        width: 250px;
        height: 70px;
        border: none;
        font-weight: bold;
        text-align; center;
        font-size: 20px;
        display: block;
        border-radius: 10px;

        margin-top: -20px;
        margin-bottom: 55px;

    }

    .joinusButtons a{
        text-decoration: none;
        color: white;
    }

    #joinusDiv{
        position: relative;
        left: 900px;
        top: -360px;
    }

    #joinusImage {
        position: absolute;
        padding-top: 110px;
        width: 100%;
    }

    #services #servicesHeading{
        color: #4486C3;
        font-size: 55px;
        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 170px;
    }

    #services {
        background-color: #F4F2F2;
        height: 600px;
        margin: 0;
        left: 0;
        right: 0;
        border-top: 7px solid rgba(29, 111, 187, 0.63);
    }


    #services #servicesText{
        font-weight: bold;
        font-size: 20px;
        width: 800px;
        height: 300px;
        color: #413F3F;
        font-family: Arial, sans-serif;
        padding-left: 240px;
        position: absolute;
        padding-top: 10px;
    }

    #events {
        background-color: rgba(71, 152, 225, 0.35);
        height: 600px;
        margin: 0;
        left: 0;
        right: 0;
        border-top: 7px solid white;
    }

    #events #eventsHeading{
        color: black;
        font-size: 55px;
        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 170px;
    }

    div.gallery {
        margin: 15px;
        border: 0px solid #ccc;
        float: left;
        width: 250px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    .gal {width: 900px; height: 500px; position: relative; padding-left: 300px; top: -25px;}

    #contact {
        background-color: #0A4275;
        height: 600px;
        margin: 0;
        left: 0;
        right: 0;
        border-top: 7px solid white;
    }

    #contact #contactHeading{
        color: white;
        font-size: 55px;

        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 170px;
    }

    #contactForm{position: relative; left: 150px; top: -150px;}

    textarea {
        width: 1070px;
        height: 168px;
        border: 2px solid white;
        background-color: #0A4275;
        margin: 10px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 17px;
        padding-left: 15px;
        padding-top: 10px;
    }
    .textInput {
        width: 371px;
        height: 35px;
        border: 2px solid white;
        background-color: #0A4275;
        margin: 10px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        font-size: 17px;
        padding-left: 15px;

    }

    .contactSubmitButton{width: 150px; height: 40px; background-color:#4396E3; border: none;
        border-radius: 4px;
        position: relative;
        top: 40px;
        left: -165px;}

    .contactSubmitButton a{
        text-decoration: none;
        color: white;
        font-size: 25px;
        font-family: Arial, sans-serif;
    }

    .contactDiv {
        font-weight:bold;
        color: white;
        font-size: 2em;
        font-family: Arial, sans-serif;
        position: relative;
        top: -30px;
        left: 650px;
    }

    .reserveInput, .volunteerInput, .loginInput {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */


    button:hover {
        opacity: 0.8;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #4396E3;
        border-radius: 5px;
    }


    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 30%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

    .servicesButton{
        background-color: white;
        font-family: Arial, sans-serif;
        font-weight: bold;
        height: 50px;
        width: 160px;
        border-radius:5px;
        margin: 50px;

    }

    .servicesButton a{
        text-decoration: none;
        color: #5E5E5E;
        font-size:17px;
    }

    #servicesButtonId {
        padding-left: 100px;
        height: auto;}

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }

    i {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 5px;
        position: relative;
        left: 9px;
        top: -2px;
    }




@media screen and (max-width: 700px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        float: right;
        display: block;
    }

    #header{
        height: auto;
        width: auto;
    }

    .headerDiv {
        width: 200px;
        height: 200px;
        position: sticky;
        left: 30%;
        font-family: Arial, sans-serif;
        float: none;
        padding-bottom: 30px;
    }

    .headerImage {
        width: 150%;
        clear: left;
        margin-top: -7%;
    }

    .headerButtons{
        width: 150px;
        height: 40px;
        border: none;
        font-weight: bold;
        text-align: center;
        font-size: 13px;
        display: block;
        border-radius: 10px;
        color: white;
        margin-top: -30px;
        margin-bottom: 40px;
    }

    #phone {
        font-weight:bold;
        color: #4396E3;
        font-size: 19px;
        font-family: Arial, sans-serif;
        position: relative;
        top: -20px;
    }


    #body {
        background-image: url("images/body.jpg");
        background-repeat: no-repeat;
        height: auto;
        padding-bottom: 20px;
    }

    #body #bodyHeading {
        font-size: 30px;
        font-family: Arial, sans-serif;
        padding-left: 20px;
        padding-top: 30px;
    }

    #body .text{
        width:85%;
        color: #333333;
        font-size: 13px;
        font-family: Arial, sans-serif;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
    }


    #schedule {
        background-image: url("images/schedule.v1.png");
        height: auto;
        padding-bottom: 20px;
        border-top: 7px solid #054C8D;
    }


    #schedule #scheduleHeading {
        color: white;
        font-size: 30px;
        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 20px;
    }

    #schedule img {
        padding-left: 50px;
        float: left;
    }


    #schedule #scheduleText {
        color: white;
        font-size: 13px;
        font-family: Arial, sans-serif;
        padding-left: 20px;
        padding-right: 20px;
        text-align: justify;
        clear: both;
        position: static;
        width:85%;
        padding-top: 15px;
    }

    #joinus {
        height: 275px;
        padding-bottom: 20px;
    }

    #joinus #joinusHeading {
        font-size: 30px;
        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 20px;

    }

    #joinus #joinusText {
        font-weight: bold;
        font-size: 13px;
        width:85%;
        padding-left: 20px;
        padding-right: 20px;
        font-family: Arial, sans-serif;

    }

    #joinusImage {
        padding-top: 120px;
    }


    #services {
        height: 500px;
        padding-bottom: 20px;
    }

    #servicesButtonId {
        padding-left: 70px;
    }

    #services #servicesHeading {
        font-size: 30px;
        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 20px;
    }

    #services #servicesText {
        font-weight: bold;
        font-size: 13px;
        width:85%;
        padding-left: 20px;
        padding-right: 20px;
        font-family: Arial, sans-serif;
    }

    .servicesButton {
        height: 45px;
        margin: 5px;
        font-size: 13px;
    }


    #events {
        height:400px;
        padding-bottom: 20px;
    }

    #events #eventsHeading {
        font-size: 30px;
        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 20px;
    }

    .gal {
        width: 280px;
        height: 0px;
        position: relative;
        top: 0px;
        padding-left: 40px;
    }

    div.gallery {
        margin: 0px;
        float: left;
        width: 120px;
    }

    #contact #contactHeading {
        font-size: 30px;
        position: relative;
        text-transform: uppercase;
        font-family: Arial, sans-serif;
        padding-left: 20px;
    }

    #contact{
        height: 550px;
    }
    .contactDiv {
        font-size: 19px;
        width:85%;
        padding-left: 20px;
        padding-right: 20px;
        font-family: Arial, sans-serif;
        color: white;
        position: static;
    }

    #contactForm {
        position: static;
        padding-left: 10px;
    }

    .textInput {
        width: 150px;

    }

    textarea {
        width: 260px;
        height: 140px;
    }

    .contactSubmitButton {
        position: static;
    }


    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 70%; /* Could be more or less, depending on screen size */
    }

    .reserveInput, .volunteerInput, .loginInput {
        width: 100%;
        padding: 10px 15px;
        margin: 8px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 5px;
    }


    .container {
        padding: 16px;
        margin-right: 40px;
    }

}



@media screen and (max-width: 700px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

